:root {
  --colors-primary-50: #ecfdf5;
  --colors-primary-100: #d1fae5;
  --colors-primary-200: #a7f3d0;
  --colors-primary-300: #6ee7b7;
  --colors-primary-400: #34d399;
  --colors-primary-500: #10b981;
  --colors-primary-600: #059669;
  --colors-primary-700: #047857;
  --colors-primary-800: #065f46;
  --colors-primary-900: #064e3b;
}

html, body, #__nuxt{
  height: 100vh;
  margin: 0;
  padding: 0;
}

html.light {
  background-color: #ffffff;
}

html.dark {
  background: #1e1e1e;
  color: white;
}

.h-content{
  min-height: calc(100% - 9.675rem);
}

.h-chat-content{
  min-height: calc(100% - 6rem);
}

.h-chatMsg-content{
  height: calc(100vh - 14rem);
}

.btn {
  --w-at-apply: px-4;
}